<template>
  <div id="header">
    <div id="main-header">
      <div class="container">
        <div class="row">
          <div id="logo-wrap" class="col-3 col-md-3">
            <h1 id="main-logo">
              <router-link to="/"><img src="http://localhost:8080/assests/img/tintuc.png"></router-link>
            </h1>
          </div>
          <div id="itpsoft-info" class="col-9 col-md-6">
            <p class="info-itpsoft">Mương  14 - Trung tâm tin tức uy tín,chính xác
            </p>
          </div>
          <div id="search-wrap" class="col-3 col-md-3">
            <div class="form-wrap">
                <div>
                  <input type="text" name="search" v-model="search" placeholder="Tìm kiếm" class="cus-input-search" />
                  <button type="submit" class="cus-input-submit" @click.stop.prevent="submit()"><i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="header-bar">
      <div class="container">
        <div class="row">
          <div id="header-bar-nav" class="col-md-12">
            <span class="fa fa-bars ic-menu" id="ic-menu"></span>
            <div class="menu-main-menu-container">
              <ul id="menu-main-menu" class="menu">
                <li id="menu-item-1" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4">
                  <router-link to="/">
                    <img width="26" height="21" src="http://localhost:8080/assests/img/home.png" class="_mi _before _image" alt="home" aria-hidden="true" />
                    <span>Trang chủ</span>
                  </router-link>
                </li>

                <div v-for="k in menus" :key="k.newsKindId">
                  <li id="menu-item-2" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8">
                    <router-link :to="{name:'listNews',params:{id:k.newsKindId}}">
                      <img width="21" height="21" src="http://localhost:8080/assests/img/global-ic.png" class="_mi _before _image" alt="global-ic" aria-hidden="true" />
                        <span>{{k.newsKindName}}</span>
                    </router-link>
                  </li>
                </div>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
name: "Menu.vue",
  data(){
    return{
      menus:[],
      search:null
    }

  },methods:{
    submit(){
      //if you want to send any data into server before redirection then you can do it here
      this.$router.push("/search/"+this.search);
    }
  },mounted() {
    axios.get('http://localhost:8081/api/user/news-kind/list').
    then((resp)=>{
      this.menus=resp.data;
    })
  }
}
</script>

<style scoped>

</style>