<template>
  <div id="about-itpsoft" class="row-view row-bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="header">
            <h2 class="title-view">
              Các chủ đề tin tức
            </h2>


          </div>
        </div>
        <!--  <div class="content"> -->

          <div class="col-lg-3 col-12 col-md-6" v-for="k in menus" :key="k.newsKindId">
          <div class=" item-thubnail">
            <router-link :to="{name:'listNews',params:{id:k.newsKindId}}"><img src="http://localhost:8080/assests/img/mobile_ic_hv.png"/>
            <h3>{{k.newsKindName}}</h3></router-link>

            
          </div>

        </div>


        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
name: "Menu1.vue",
  data(){
    return{
      menus:[]
    }

  },mounted() {
    axios.get('http://localhost:8081/api/user/news-kind/list').
    then((resp)=>{
      this.menus=resp.data;
    })
  }
}
</script>

<style scoped>

</style>