<template>
  <div class="main-content col-md-8">



    <div class="item" v-for="n in news" :key="n.newsId">
      <div class="image">
        <router-link :to="{name:'NewsDetail',params:{id:n.newsId}}">
          <img width="550" height="415" v-bind:src="'http://localhost:8081/'+n.titleImg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" sizes="(max-width: 550px) 100vw, 550px" />
          <p class="date-create">{{n.newsDate }}</p>
          <span class="line-hover-top"></span>
          <span class="line-hover-right"></span>
          <span class="line-hover-left"></span>
          <span class="line-hover-bottom"></span>
        </router-link>
      </div>
      <div class="content">
        <router-link :to="{name:'NewsDetail',params:{id:n.newsId}}" class="title">{{n.title}}</router-link>
        <div class="clear-fix"></div>
        <p>{{n.newsDesc}}</p>
        <router-link :to="{name:'NewsDetail',params:{id:n.newsId}}" class="read-more">Xem thêm &gt;</router-link>
      </div>

    </div>

    <div id="navigation">

      <div class="wp-pagenavi">
        <div class="clear"></div>
      </div>

    </div>



  </div>


</template>

<script>
import axios from 'axios'
export default {
name: "NewsList1.vue",
  data(){
    return{
      news:[],
      id:'facts'
    }
  },
  props:['id'],
  mounted() {
    axios.get('http://localhost:8081/api/user/news-kind/'+this.$props.id).
    then((resp)=>{
      this.news=resp.data.news;
      console.log(resp.data.news)
    })
  }
}
</script>

<style scoped>

</style>