<template>
  <div id="news-itpsoft" class="row-view row-bg-white">
    <div class="container">
      <div class="row">
        <div class="header col-12">
          <h2 class="title-view">
            TIN TỨC
          </h2>
          <p class="short-desc">
          </p>
        </div>
        <!-- <div class="content"> -->

        <div class="col-md-4" v-for="n in news" :key="n.newsId" >
          <div class="news-item">
            <div class="image">
              <img width="550" height="415" v-bind:src="'http://localhost:8081/'+n.titleImg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{n.titleImg}}" sizes="(max-width: 550px) 100vw, 550px" />                    </div>
            <div class="content">
              <router-link :to="{name:'NewsDetail',params:{id:n.newsId}}" class="title">{{n.title}}</router-link>
              <p class="short-desc">{{n.newsDesc}}</p>
              <router-link :to="{name:'NewsDetail',params:{id:n.newsId}}">Xem thêm &gt;</router-link>
            </div>
          </div>
        </div>

        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
name: "NewsList.vue",
  data(){
    return{
      news:[]
    }

  },mounted() {
    axios.get('http://localhost:8081/api/user/news/date').
    then((resp)=>{
      this.news=resp.data;
    })
  }
}
</script>

<style scoped>

</style>