<template>
  <div id="brand-of-itpsoft" class="row-view row-bg-gray">
    <div class="container">
      <div class="row">
        <div class="header col-12">
          <h2 class="title-view">
            Các tin tức mới nhất
          </h2>
          <p class="short-desc">
          </p>
        </div>
        <!-- <div class="content"> -->
        <div class="owl-carousel owl-theme" id="brand-slide">
          <div class="item" v-for="n in news" :key="n.newsId">
            <div class="news-item">
              <div class="image">
                <img width="550" height="415" v-bind:src="'http://localhost:8081/'+n.titleImg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"  sizes="(max-width: 550px) 100vw, 550px" />                    </div>
              <div class="content">
                <router-link :to="{name:'NewsDetail',params:{id:n.newsId}}" class="title">{{n.title}}</router-link>
                <p class="short-desc">{{n.newsDesc}}</p>
                <router-link :to="{name:'NewsDetail',params:{id:n.newsId}}">Xem thêm &gt;</router-link>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
name: "NewsSlide.vue",
  data(){
    return{
      news:[]
    }
  },methods:{
    installOwlCarousel(){
      $('.owl-carousel').owlCarousel({

        loop: true,
        margin: 10,
        nav: false,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplayHoverPause: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 2
          },
          1000: {
            items: 3
          }
        }
      });
    }
  },
    mounted() {
    let vm = this;
    axios.get('http://localhost:8081/api/user/news/getAlls').
    then((resp)=>{
      vm.news = resp.data;
      this.$nextTick(function(){
      vm.installOwlCarousel();
      }.bind(vm));

    }).catch((err)=>{
      if(err) console.log(err);
    });
  }
}


</script>

<style scoped>

</style>