<template>
  <div class="main-content col-md-8">

    <div class="single-post">
      <div class="image">
        <p class="date-create"></p>
      </div>


      <div class="content">
        <img width="550" height="415" v-bind:src="'http://localhost:8081/'+news.titleImg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" sizes="(max-width: 550px) 100vw, 550px" />

        <h2 class="post-title">{{news.newsDesc}}</h2>
        <div  v-html="news.content"></div>

      </div>
<!--      <div class="comment">-->
<!--        &lt;!&ndash; If comments are open, but there are no comments. &ndash;&gt;-->
<!--        <div id="respond">-->

<!--          <h2 class="respond-title">-->
<!--            VIẾT BÌNH LUẬN CỦA BẠN</h2>-->

<!--          <div class="cancel-comment-reply">-->
<!--            <a rel="nofollow" id="cancel-comment-reply-link" href="/2016/08/26/website-thiet-ke-thi-cong-noi-that-olyhome/#respond" style="display:none;">Click vào đây để hủy trả lời.</a>-->
<!--          </div>-->


<!--          <form action="http://itpsoft.com.vn/wp-comments-post.php" method="post" id="commentform">-->


<!--            <div>-->
<!--              <input type="text" placeholder="Họ và tên" name="author" id="author" value="" size="22" tabindex="1" aria-required='true' />-->
<!--            </div>-->

<!--            <div>-->
<!--              <input type="text" placeholder="Email" name="email" id="email" value="" size="22" tabindex="2" aria-required='true' />-->
<!--            </div>-->

<!--            &lt;!&ndash;<p>You can use these tags: <code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt; </code></p>&ndash;&gt;-->

<!--            <div>-->
<!--              <textarea name="comment" id="comment" cols="58" rows="5" tabindex="4" placeholder="Nội dung"></textarea>-->
<!--            </div>-->

<!--            <div>-->
<!--              <input name="submit" type="submit" id="submit" tabindex="5" value="Submit Comment" />-->
<!--              <input type='hidden' name='comment_post_ID' value='232' id='comment_post_ID' />-->
<!--              <input type='hidden' name='comment_parent' id='comment_parent' value='0' />-->
<!--            </div>-->


<!--          </form>-->


<!--        </div>-->

<!--      </div>-->

    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
name: "NewsContent.vue",props:['id'],
  data(){
    return{
      news:[]
    }

  },mounted() {
    axios.get('http://localhost:8081/api/user/news/'+this.$props.id).
    then((resp)=>{
      this.news=resp.data;
      console.log(resp.data)


    })
  }
}
</script>

<style scoped>

</style>