<template>
  <div class="sidebar col-md-4">

    <aside>

      <div id="rpwwt-recent-posts-widget-with-thumbnails-2" class="rpwwt-widget">
        <div id="recent-posts-widget-with-thumbnails-2" class="widget recent-posts-widget-with-thumbnails">
          <h2>Bài viết mới</h2>
          <ul v-for="n in news" :key="n.newsId">
            <li class="widget-class-style">
              <router-link :to="{name:'NewsDetail',params:{id:n.newsId}}">
                <img width="142" height="90" v-bind:src="'http://localhost:8081/'+n.titleImg" class="attachment-160x90 size-160x90 wp-post-image" sizes="(max-width: 142px) 100vw, 142px" />

                <span class="rpwwt-post-title">{{n.title}}</span>
              </router-link>
              <div class="rpwwt-post-date">{{n.newsDate }}</div>
            </li>

          </ul>
        </div>
      </div>
      <div id="categories-3" class="widget widget_categories"><h2>Danh mục</h2>
        <ul v-for="k in menus" :key="k.newsKindId">
          <li class="cat-item cat-item-7"><router-link :to="{name:'listNews',params:{id:k.newsKindId}}">{{k.newsKindName}}</router-link>
          </li>
        </ul>
      </div>
    </aside>

  </div>
</template>

<script>
import axios from 'axios'
export default {
name: "SideRight.vue",
  data(){
    return{
      menus:[],
      news:[]
    }

  },mounted() {
    axios.get('http://localhost:8081/api/user/news-kind/list').
    then((resp)=>{
      this.menus=resp.data;
    })

    axios.get('http://localhost:8081/api/user/news/date').
    then((resp)=>{
      this.news=resp.data;
    })
  }
}
</script>

<style scoped>
.rpwwt-post-title{
  position: absolute;
  margin-left: 10px;
}
.widget-class-style{
  margin-bottom: 20px;
}

</style>