<template>
  <div id="slider">

    <div class="slideshow_container slideshow_container_style-light" style=" " data-slideshow-id="77" data-style-name="style-light" data-style-version="2.3.1" >

      <div class="slideshow_loading_icon"></div>

      <div class="slideshow_content" style="display: none;">

        <div class="slideshow_view">
          <div class="slideshow_slide slideshow_slide_image">
            <img src="http://localhost:8080/assests/img/slider1-1.jpg" alt="slider1" width="1920" height="778" />
            <div class="slideshow_description_box slideshow_transparent">
              <div class="slideshow_title">slider1</div>
            </div>
          </div>

          <div style="clear: both;"></div>
        </div>

        <div class="slideshow_view">
          <div class="slideshow_slide slideshow_slide_image">
            <img src="http://localhost:8080/assests/img/slider2-1.jpg" alt="slider2" width="1920" height="778" />
            <div class="slideshow_description_box slideshow_transparent">
              <div class="slideshow_title">slider2</div>
            </div>
          </div>

          <div style="clear: both;"></div>
        </div>
      </div>

      <div class="slideshow_controlPanel slideshow_transparent" style="display: none;"><ul><li class="slideshow_togglePlay" data-play-text="Play" data-pause-text="Pause"></li></ul></div>

      <div class="slideshow_button slideshow_previous slideshow_transparent" role="button" data-previous-text="Previous" style="display: none;"></div>

      <div class="slideshow_button slideshow_next slideshow_transparent" role="button" data-next-text="Next" style="display: none;"></div>

      <div class="slideshow_pagination" style="display: none;" data-go-to-text="Go to slide">
        <div class="slideshow_pagination_center"></div>
      </div>

      <!-- WordPress Slideshow Version 2.3.1 -->

    </div>
  </div>
</template>

<script>
export default {
name: "Slide.vue"
}
$(document).ready(function () {
  $('#brand-slide').owlCarousel({
    loop: true,
    margin: 10,
    nav: false,
    autoplay: true,
    autoplayTimeout: 5000,
    autoplayHoverPause: true,
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 2
      },
      1000: {
        items: 3
      }
    }
  })
})
</script>

<style scoped>

</style>