<template>
  <Menu></Menu>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thống kê</a>
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="">
                <p>Tài khoản</p>
              </a>
            </li>

            <li>
              <a @click="clearStorage">
                <p>Đăng xuất</p>
              </a>
            </li>
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">THêm mới tin tức</h4>
              <p class="category"></p>
            </div>
            <div class="content table-responsive" v-if="!submitted">
              <form @submit.prevent="handelAdd" enctype="multipart/form-data">
                <table class="table table-hover table-striped ">
                  <tr>
                    <td class="tdcss">Tiêu đề</td>
                    <td><input type="text" name="title"  required v-model="news.title"  class="form-control" placeholder="Mời nhập tiêu đề"></td>
                  </tr>
                  <tr>
                    <td class="tdcss">Nội dung</td>
                    <textarea  name="content"  required v-model="news.content"  class="form-control" placeholder="Mời nhập nội dung"></textarea>
                  </tr>
                  <tr>
                    <td class="tdcss">Loại tin</td>
                    <td>
                      <select name="newsKindId" v-model="news.newsKindId" class="form-control" required>
                        <option v-for="nk in newskind" :key="nk.newsKindId" :value="nk.newsKindId">
                            {{nk.newsKindName}}
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="tdcss">File ảnh</td>
                    <td><input type="file" name="fileImg" id="fileImg"  required @change="Images_onFileChanged"  class="form-control"></td>
                  </tr>
                  <tr>
                    <td class="tdcss">Mô tả</td>
                    <td><input type="text" name="newsDesc"  required v-model="news.newsDesc"  class="form-control" placeholder="Mời nhập mô tả"></td>
                  </tr>
                  <tr>
                    <td class="tdcss"></td>
                    <td>
                      <input type="submit" name="btnCreateSup" value="Lưu" class="form-control btn btn-success">
                    </td>
                  </tr>

                </table>
              </form>


            </div>
            <div v-else>
              <h4>Thêm mới thành công</h4>
              <button class="btn btn-success" @click="newAdd">Thêm mới</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="#">
                Quản lý tin tức
              </a>
            </li>

          </ul>
        </nav>
        <p class="copyright pull-right">
          &copy;  Made by Lê Việt Anh
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
import axios from "axios";
import Menu from "@/components/Menu";

export default {
  name: "addNews",
components:{
  Menu
},
  data(){
    return{
      news: {
        title:null,
        content:null,
        newsKindId:null,
        file:null,
        newsId:null,
        newsDesc:null
      },
      selectedFile : null,
      newskind:[],
      submitted: false
    }
  },methods:{
    Images_onFileChanged (event) {
      this.selectedFile = event.target.files[0];
    }
    ,
    getNewsKind(){
      axios.get('http://localhost:8081/api/user/news-kind/list').
      then((resp)=>{
        this.newskind=resp.data;
        console.log(resp.data)
      })
    },
    handelAdd(){
      const mypostparameters= new FormData()
      mypostparameters.append('file', this.selectedFile);
      mypostparameters.append('title',this.news.title)
      mypostparameters.append('content',this.news.content)
      mypostparameters.append('newsKindId',this.news.newsKindId)
      mypostparameters.append('newsDesc',this.news.newsDesc)


      axios.post('http://localhost:8081/api/admin/news/create',mypostparameters).
      then((resp)=>{
        console.log(resp)
        this.news.newsId = resp.data.newsId;
        this.submitted = true;
      })
    },newAdd() {
      this.submitted = false;
      this.tutorial = {};
    },
    clearStorage(){
      localStorage.clear();
      this.$router.push('/login');
    }
  },mounted() {
    if (localStorage.name){
      this.getNewsKind();
    }else {
      this.$router.push('/login');
    }
  }

}
</script>

<style scoped>
.tdcss{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
}
.table tr{
  border: 0.5px solid grey;
}
.btn-success{
  background-color: #6dc030;
  color: white;

}
</style>