<template>
  <Menu></Menu>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thống kê</a>
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="">
                <p>Tài khoản</p>
              </a>
            </li>

            <li>
              <a @click="clearStorage">
                <p>Đăng xuất</p>
              </a>
            </li>
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Quản lý tin tức</h4>

            </div>
            <div class="content table-responsive">
              <table class="table table-hover table-striped">
                <thead>

                <th width="5%">ID</th>
                <th width="20%">Tiêu đề</th>
                <th width="15%">Ảnh</th>
                <th width="25%">Mô tả</th>
                <th width="20%">Ngầy đăng</th>
                <th width="15%">Chức năng</th>
                </thead>

                <tbody>

                <tr v-for="n in news" :key="n.NewsId">
                  <td>{{n.newsId}}</td>
                  <td>{{n.title}}</td>
                  <td>                <img width="142" height="90" v-bind:src="'http://localhost:8081'+n.titleImg" class="attachment-160x90 size-160x90 wp-post-image" sizes="(max-width: 142px) 100vw, 142px" />
                  </td>
                  <td>{{n.newsDesc}}</td>
                  <td>{{n.newsDate}}</td>
                  <td>
                    <router-link class="btn btn-success" :to="{name:'NewsEdit',params:{id:n.newsId}}">Sửa</router-link>
                    <a class='btn btn-danger' @click="deleteNews(n.newsId)">Xóa</a>
                  </td>

                </tr>
                </tbody>
                <tr>

                  <td colspan="6"> <router-link class="btn btn-success form-control" style="color: white;background-color: green;" :to="{name:'addNews'}">Thêm tin tức</router-link></td>
                </tr>

              </table>
              <div>
                <h4>{{message}}</h4>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="#">
                Quản lý tin tức
              </a>
            </li>

          </ul>
        </nav>
        <p class="copyright pull-right">
          &copy; Made by Lê Việt Anh
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
import axios from 'axios'
import Menu from "@/components/Menu";
export default {
  name: "News",components:{
    Menu
  },data(){
    return{
      news:[],
      currentNews:null,
      currentIndex:-1,
      message:''
    }
  },methods:{
    getNews(){
      axios.get('http://localhost:8081/api/admin/news/getList').
      then((resp)=>{
        this.news=resp.data;
        console.log(resp.data)
      })
    },
    refreshList() {
      this.getNews();
      this.currentNews = null;
      this.currentIndex = -1;
    },
    deleteNews(id){
      var data = {
        id:id

      };

      axios.post('http://localhost:8081/api/admin/news/delete/'+id,data).
      then((resp)=>{
        this.news=resp.data;
        this.refreshList();
        this.message="Xóa thành công tin "+id;
        console.log(resp.data)
      })

    },
    clearStorage(){
      localStorage.clear();
      this.$router.push('/login');
    }
  },mounted() {
    if (localStorage.name){
        this.getNews();
    }else {
      this.$router.push('/login');
    }
  }

}
</script>

<style scoped>

</style>