<template>
  <Menu></Menu>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thống kê</a>
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="">
                <p>Tài khoản</p>
              </a>
            </li>

            <li>
              <a @click="clearStorage">
                <p>Đăng xuất</p>
              </a>
            </li>
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Update danh mục tin tức</h4>
            <p class="category"></p>
          </div>
          <div class="content table-responsive" v-if="!submitted">
            <form @submit.prevent="handleUpdate({newsKindId})" enctype="multipart/form-data">
              <table class="table table-hover table-striped ">
                <tr>
                  <td class="tdcss">Tên danh mục</td>
                  <td><input type="text" name="newsKindName" v-model="newskind.newsKindName" required class="form-control" placeholder="Mời nhập tên nhà cung cấp"></td>
                </tr>
                <tr>
                  <td class="tdcss"></td>
                  <td>
                    <input type="submit" name="btnCreateSup" value="Update" class="form-control btn btn-success">
                  </td>
                </tr>

              </table>
            </form>


          </div>
          <div>
            <h4>{{message}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="#">
                Quản lý khách hàng
              </a>
            </li>

          </ul>
        </nav>
        <p class="copyright pull-right">
          &copy;  Made by Lê Việt Anh
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
import axios from "axios";
import Menu from "@/components/Menu";

export default {
name: "NewsKindEdit",components:{
    Menu
  },
  data(){
    return{
      newskind:[],
      message:'',
      submitted: false,
      newsKindId:this.$route.params.id
    }
  },methods:{
    getNewsKind(id){
      axios.get('http://localhost:8081/api/user/news-kind/'+id).
      then((resp)=>{
        this.newskind=resp.data;
        console.log(resp.data)
      })
    },
    handleUpdate(id){
      var data = {
        newsKindId:this.$route.params.id,
        newsKindName: this.newskind.newsKindName
      };

      axios.post('http://localhost:8081/api/admin/news-kind/update/'+this.newsKindId,data).
      then((resp)=>{
        console.log(resp);
        this.message = 'The tutorial was updated successfully!';

      })
    },
    clearStorage(){
      localStorage.clear();
      this.$router.push('/login');
    }
  },mounted() {
    if (localStorage.name){
      this.message = '';
      this.getNewsKind(this.$route.params.id);
    }else {
      this.$router.push('/login');
    }


  }
}
</script>

<style scoped>
.tdcss{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
}
.table tr{
  border: 0.5px solid grey;
}
.btn-success{
  background-color: #6dc030;
  color: white;

}
</style>