<template>
  <Menu></Menu>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thống kê</a>
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="">
                <p>Tài khoản</p>
              </a>
            </li>

            <li>
              <a @click="clearStorage">
                <p>Đăng xuất</p>
              </a>
            </li>
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Quản lý danh mục sản phẩm</h4>

            </div>
            <div class="content table-responsive">
              <table class="table table-hover table-striped">
                <thead>

                <th width="30%">ID</th>
                <th width="40%">Tên</th>
                <th width="30%">Chức năng</th>
                </thead>

                <tbody>

                <tr v-for="n in news" :key="n.newsKindId">
                  <td>{{n.newsKindId}}</td>
                  <td>{{n.newsKindName}}</td>
                  <td>
                    <router-link class="btn btn-success" :to="{name:'NewskindEdit',params:{id:n.newsKindId}}">Sửa</router-link>
                    <a class='btn btn-danger' @click="deleteNewsKind(n.newsKindId)">Xóa</a>
                  </td>

                </tr>
                </tbody>
                <tr>

                  <td colspan="3"> <router-link class="btn btn-success form-control" style="color: white;background-color: green;" :to="{name:'addNewsKind'}">Thêm nhà cung cấp</router-link></td>
                </tr>

              </table>
              <div>
                <h4>{{message}}</h4>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul>
          <li>
            <a href="#">
              Quản lý khách hàng
            </a>
          </li>

        </ul>
      </nav>
      <p class="copyright pull-right">
        &copy; Made by Lê Việt Anh
      </p>
    </div>
  </footer>
  </div>
</template>

<script>
import axios from 'axios'
import Menu from "@/components/Menu";
export default {
name: "NewsKind",components:{
    Menu
  },data(){
    return{
      news:[],
      currentNewsKind:null,
      currentIndex:-1,
      message:''
    }
  },methods:{
    getNewsKind(){
      axios.get('http://localhost:8081/api/user/news-kind/list').
      then((resp)=>{
        this.news=resp.data;
        console.log(resp.data)
      })
    },
    refreshList() {
      this.getNewsKind();
      this.currentNewsKind = null;
      this.currentIndex = -1;
    },
    deleteNewsKind(id){
      var data = {
        newsKindId:id

      };

      axios.post('http://localhost:8081/api/admin/news-kind/delete/'+id,data).
      then((resp)=>{
        this.news=resp.data;
        this.refreshList();
        this.message="Xóa thành công danh mục "+id;
        console.log(resp.data)
      })

    },
    clearStorage(){
      localStorage.clear();
      this.$router.push('/login');
    }
  }
  ,mounted() {
      if (localStorage.name){
        this.getNewsKind();
      }else {
        this.$router.push('/login');
      }
  }
}
</script>

<style scoped>

</style>