<template>
  <Menu></Menu>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thống kê</a>
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="">
                <p>Tài khoản</p>
              </a>
            </li>

            <li>
              <a @click="clearStorage">
                <p>Đăng xuất</p>
              </a>
            </li>
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Quản lý sản phẩm</h4>

            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                <th>STT</th>
                <th>Tên</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Mật Khẩu</th>
                <th>Mô tả</th>

                </thead>

                <tbody>
                <tr v-for="n in users" :key="n.adminId">
                  <td>{{n.adminId}}</td>
                  <td>{{n.adminName}}</td>
                  <td>{{n.adminAddress}}</td>
                  <td>{{n.adminEmail}}</td>
                  <td>{{n.adminEmail}}</td>
                  <td>{{n.password}}</td>
                  <td>{{n.adminDesc}}</td>
                  <td>
                    <router-link class="btn btn-success" :to="{name:'UserEdit',params:{id:n.adminId}}">Sửa</router-link>
                    <a class='btn btn-danger' @click="deleteUser(n.adminId)">Xóa</a>
                  </td>

                </tr>
                </tbody>

                <tr>
                  <td colspan="12"> <router-link class="btn btn-success form-control" style="color: white;background-color: green;" to="/add-user">Thêm nhân viên mới</router-link></td>
                </tr>

              </table>
              <div>
                <h4>{{message}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="#">
                Quản lý khách hàng
              </a>
            </li>

          </ul>
        </nav>
        <p class="copyright pull-right">
          &copy; Made by Lê Việt Anh
        </p>
      </div>
    </footer>
  </div>

</template>

<script>
import Menu from "@/components/Menu";
import axios from "axios";

export default {
name: "User",components:{
    Menu
  },data(){
    return{
      users:[],
      currentNewsKind:null,
      currentIndex:-1,
      message:''
    }
  },methods:{

    getUser(){
      axios.get('http://localhost:8081/api/admin/account/getList').
      then((resp)=>{
        this.users=resp.data;
        console.log(resp.data)
      })
    },
    refreshList() {
      this.getUser();
      this.currentNewsKind = null;
      this.currentIndex = -1;
    },
    deleteUser(id){
      var data = {
        id:id

      };

      axios.post('http://localhost:8081/api/admin/account/delete/'+id,data).
      then((resp)=>{
        this.news=resp.data;
        this.refreshList();
        this.message="Xóa thành công người dùng "+id;
        console.log(resp.data)
      })

    },
    clearStorage(){
      localStorage.clear();
      this.$router.push('/login');
    }
  },mounted() {
    if (localStorage.name){
      this.getUser()
    }else {
      this.$router.push('/login');
    }


  }
}
</script>

<style scoped>

</style>