<template>
  <Menu></Menu>
  <!--  BEGIN CONTENT PAGE  -->
  <!-- Begin Slider -->
  <Slide></Slide>
  <!-- End Slider -->

  <!-- Begin about-itpsoft -->
  <Menu1></Menu1>
  <!-- End about-itpsoft -->

  <!-- Begin brand-of-itpsoft -->
  <NewsSlide></NewsSlide>
  <!-- End brand-of-itpsoft -->

  <!-- Begin new-itpsoft -->
  <NewsList></NewsList>
  <!-- End new-itpsoft -->

  <!--  END CONTENT PAGE  -->
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Menu from '@/components/Menu.vue'
import Slide from '@/components/Slide.vue'
import Menu1 from '@/components/Menu1.vue'
import NewsList from '@/components/NewsList.vue'
import NewsSlide from '@/components/NewsSlide.vue'


export default {
  name: 'Home',
  components: {
    HelloWorld,
    Menu,
    Slide,
    Menu1,
    NewsList,
    NewsSlide

  },mounted() {



  }
}

</script>
