<template>
  <Menu></Menu>


  <div id="breadcrumb">
    <div class="container">
      <h3 class="breadcrumb-title">

        NOT FOUND
      </h3>
    </div>
  </div>

</template>

<script>
import Menu from '@/components/Menu.vue'
export default {
  name: "NotFound.vue",
  components: {Menu}
}
</script>

<style scoped>

</style>