<template>
  <Menu></Menu>
  <div id="breadcrumb">
    <div class="container">
      <h3 class="breadcrumb-title">
        {{newsKindName}}

      </h3>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="page-content">
        <div class="row">
          <NewsList1 :id="id"></NewsList1>
          <SideRight></SideRight>
        </div>
      </div>
    </div>
  </div>


</template>

<script>
import Menu from '@/components/Menu.vue'
import SideRight from "@/components/SideRight";
import NewsList1 from "@/components/NewsList1";
import axios from 'axios'

export default {
name: "ListNews",
  components: {
    Menu,
    SideRight,
    NewsList1

  },
  props:['id'],
  data(){
    return{
      newsKindName:''
    }

  },mounted() {
    axios.get('http://localhost:8081/api/user/news-kind/'+this.$props.id).
    then((resp)=>{
      this.newsKindName=resp.data.newsKindName;


    })
  }


}
</script>
