<template>
  <Menu></Menu>
  <div id="breadcrumb">
    <div class="container">
      <h3 class="breadcrumb-title">

        {{newsName}}
      </h3>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="page-content">
        <div class="row">

          <NewsContent :id="id"></NewsContent>
          <SideRight></SideRight>
        </div>
      </div>
    </div>
  </div>


</template>

<script>
import Menu from '@/components/Menu.vue'
import SideRight from "@/components/SideRight";
import NewsContent from "@/components/NewsContent";
import axios from "axios";

export default {
  name: "NewsDetail",
  components: {
    Menu,
    SideRight,
    NewsContent

  },props:['id'],
  data(){
    return{
      newsName:''
    }

  },mounted() {
    axios.get('http://localhost:8081/api/user/news/'+this.$props.id).
    then((resp)=>{
      this.newsName=resp.data.title;


    })
  }
}
</script>
