<template>
  <Menu></Menu>
  <div id="breadcrumb">
    <div class="container">
      <h3 class="breadcrumb-title">

        Tìm Kiếm {{name}}
      </h3>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="page-content">
        <div class="row">

          <NewsList2 :name="name"></NewsList2>
          <SideRight></SideRight>
        </div>
      </div>
    </div>
  </div>


</template>

<script>
import Menu from '@/components/Menu.vue'
import SideRight from "@/components/SideRight";
import NewsList1 from "@/components/NewsList1";
import NewsList2 from "@/components/NewsList2";


export default {
  name: "Search",
  components: {
    Menu,
    SideRight,
    NewsList1,
    NewsList2

  },props:['name']
}
</script>
