<template>
  <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <div class="sidebar-wrapper">
      <div class="logo">
        <div class="simple-text">
          Admin
        </div>
      </div>

      <ul class="nav">
        <li>
          <router-link to="/news">
            <i class="pe-7s-note2"></i>
            <p>Quản lý tin tức</p>
          </router-link>
        </li>
        <li>
          <router-link to="/news-kind">
            <i class="pe-7s-note2"></i>
            <p>Quản lý danh mục tin tức</p>
          </router-link>
        </li>

        <li>
          <router-link to="/user">
            <i class="pe-7s-note2"></i>
            <p>Quản lý người dùng</p>
          </router-link>
        </li>

      </ul>
    </div>
  </div>
</template>

<script>
export default {
name: "Menu.vue"
}
</script>

<style scoped>

</style>