<!DOCTYPE html>
<html lang="">
<head>
    <!--    <meta charset="utf-8">-->
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--    <meta name="viewport" content="width=device-width,initial-scale=1.0">-->
    <!--    <link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <!--    <title><%= htmlWebpackPlugin.options.title %></title>-->

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Mương  14 - Trung tâm tin tức uy tín,chính xác</title>
    <link rel="stylesheet" href="<%= BASE_URL %>assests/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" type="text/javascript"></script>

    <script src="<%= BASE_URL %>assests/js/normal-script.js" type="text/javascript"></script>

    <!--  BOOTSTRAP CONFIG  -->

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assests/css/bootstrap.min.css">
    <script type="text/javascript" src="<%= BASE_URL %>assests/js/bootstrap.min.js"></script>
    <!-- Optional theme -->
    <!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   -->
    <!-- Latest compiled and minified JavaScript -->
    <!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   -->
    <link href="<%= BASE_URL %>assests/css/owl.carousel.min.css" rel="stylesheet" type="text/css"/>
    <script src="<%= BASE_URL %>assests/js/owl.carousel.min.js" type="text/javascript"></script>

    <link href="<%= BASE_URL %>assests/css/slick.css" rel="stylesheet" type="text/css"/>
    <link href="<%= BASE_URL %>assests/css/slick-theme.css" rel="stylesheet" type="text/css"/>
    <script src="<%= BASE_URL %>assests/js/slick.min.js" type="text/javascript"></script>
<!--    <script src="<%= BASE_URL %>assests/js/myscript.js" type="text/javascript"></script>-->

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='font-awesome-css'  href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
</head>
<body>
<div id="page-wrap">


    <div id="app"></div>

    <!-- Begin contact-itpsoft -->
    <div id="contact-itpsoft">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="row">
                        <div class="contact">
                            <h3>Mương  14 - Trung tâm tin tức uy tín,chính xác</h3>
                            <p><i class="fa fa-map-marker"></i>Mương  14 - Trung tâm tin tức uy tín,chính xác</p>
                            <p><i class="fa fa-phone"></i>01665 xxx xxx | Fax: xx xxx xxxx</p>
                            <p><i class="fa fa-envelope"></i>xxx@xxxx.com.vn</p>
                            <p><i class="fa fa-globe"></i>xxx@xxxx.com.vn</p>
                            <hr/>
                            <p>Kênh giải trí tổng hợp,chuyên đưa các tin chính xác với tốc độ nhanh nhất đến độc giả</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End contact-itpsoft -->

    <!-- Begin Map -->
    <div class="map">
        <div id="map">
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"async defer></script>


        <script>
            function initMap() {

                var myLatLng = {lat: 21.037999, lng: 105.781471};
                // Create a map object and specify the DOM element for display.
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: myLatLng,
                    scrollwheel: false,
                    zoom: 16
                });
                // Create a marker and set its position.
                var marker = new google.maps.Marker({
                    map: map,
                    position: myLatLng,
                    title: 'ITPsoft'
                });
            }

        </script>
    </div>
    <!-- End Map -->
    <!-- Begin footer -->
    <div id="footer">

        <div class="copyright">
            <span>&copy; Bản quyền thuộc về Lê Việt Anh</span>
        </div>
    </div>
    <!-- End footer -->
    <link rel='stylesheet' id='slideshow-jquery-image-gallery-stylesheet_functional-css'  href='http://itpsoft.com.vn/wp-content/plugins/slideshow-jquery-image-gallery/style/SlideshowPlugin/functional.css?ver=2.3.1' type='text/css' media='all' />
    <link rel='stylesheet' id='slideshow-jquery-image-gallery-stylesheet_style-light-css'  href='http://itpsoft.com.vn/wp-content/plugins/slideshow-jquery-image-gallery/css/style-light.css?ver=2.3.1' type='text/css' media='all' />
    <script type='text/javascript' src='http://itpsoft.com.vn/wp-includes/js/wp-embed.min.js?ver=4.5.14'></script>
    <script type='text/javascript' src='http://itpsoft.com.vn/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='http://itpsoft.com.vn/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var SlideshowPluginSettings_77 = {"animation":"slide","slideSpeed":"1","descriptionSpeed":"0.4","intervalSpeed":"5","slidesPerView":"1","maxWidth":"0","aspectRatio":"2.5:1","height":"200","imageBehaviour":"stretch","showDescription":"false","hideDescription":"true","preserveSlideshowDimensions":"true","enableResponsiveness":"true","play":"true","loop":"true","pauseOnHover":"true","controllable":"true","hideNavigationButtons":"false","showPagination":"true","hidePagination":"true","controlPanel":"false","hideControlPanel":"true","waitUntilLoaded":"true","showLoadingIcon":"true","random":"false","avoidFilter":"true","dimensionWidth":"2.5","dimensionHeight":"1"};
        var slideshow_jquery_image_gallery_script_adminURL = "http:\/\/itpsoft.com.vn\/wp-admin\/";
        /* ]]> */
    </script>
    <script type='text/javascript' src='http://itpsoft.com.vn/wp-content/plugins/slideshow-jquery-image-gallery/js/min/all.frontend.min.js?ver=2.3.1'></script>

</div>

</body>
</html>